/* CONTACTANOS */

.contenedorForm {
    display: grid;
    grid-template-rows: 3;
    align-items: center;
    justify-items: center;
}

input {
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 40%;
}

#nombre,
#mail,
#telefono {
    margin: 10px;
}

form {
    font-size: 18px;
    form p {
        font-size: 1.5rem;
    }
}

.h2Form {
    font-size: 2rem;
    margin: 2%;
}

legend {
    font-size: 20px;
    font-weight: 700;
    color: grey;
}

label {
    display: block;
    margin: 10px;
    font-size: 2rem;
}

.botonContacto__reset {
    font-size: 18px;
    margin-top: 10px;
    background-color: grey;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 10px;
    border-radius: 5px;
    transition: 1s;
}

.botonContacto__reset:hover {
    cursor: pointer;
    background-color: black;
}

.botonContacto__enviar {
    background-color: grey;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 2%;
    border-radius: 5px;
    transition: 1s;
}

.botonContacto__enviar:hover {
    cursor: pointer;
    background-color: white;
    color: grey;
}

form,
input {
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.botonContacto {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    justify-items: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    label {
        display: block;
        margin: 10px;
        font-size: 2rem;
    }
    form {
        form p {
            font-size: 2rem;
        }
        form h2 {
            padding: 2%;
        }
    }
    .botonContacto__enviar {
        font-size: 2rem;
        width: 280px;
    }
    .botonContacto__reset {
        font-size: 1.8rem;
        width: 200px;
    }
    #nombre,
    #mail,
    #telefono {
        width: 30%;
    }
}

@media only screen and (min-width: 1024px) {
    #nombre,
    #mail,
    #telefono {
        width: 20%;
    }
    .botonContacto__reset {
        padding: 1%;
    }
    .h2Form {
        font-size: 2.5rem;
        margin: 2%;
    }
}