/*MAIN*/

.linea {
    background: #e8d94b;
    border: 3px solid #e8d94b;
    margin: 5%;
}

.imgenvios {
    width: 100%;
    margin-bottom: 5%;
}

// PRODUCTOS DESTACADOS 
.sectionDestacados {
    .contenedorTitulo {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .h2productos {
        font-size: 2.7rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: black;
        margin: 5%;
    }
    .estrella {
        width: 20px;
        margin-bottom: 2%;
    }
    .productosDestacados {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .productosDestacados img {
        width: 300px;
        border-radius: 5%;
    }
    .productosDestacados p {
        font-size: 2rem;
        color: grey;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        margin: 10%;
    }
}

@media only screen and (min-width: 768px) {
    section {
        .h2productos {
            font-size: 3rem;
        }
        .productosDestacados {
            display: flex;
        }
        .productosDestacados img {
            width: 200px;
            border-radius: 5%;
        }
        .productosDestacados p {
            font-size: 2rem;
            color: grey;
            text-align: center;
        }
    }
}

@media only screen and (min-width: 1024px) {
    section {
        .h2productos {
            font-size: 3rem;
        }
        .productosDestacados img {
            width: 300px;
        }
        .productosDestacados p {
            font-size: 2.5rem;
        }
        .estrella {
            width: 40px;
            margin-bottom: 2%;
        }
    }
    .imgenvios {
        width: 100%;
        height: 200px;
        margin: 5% 0%;
    }
}