/* QUIENES SOMOS */

.quienesSomos {
    display: flex;
    flex-direction: column;
    align-items: center;
    .quienesSomos__h1 {
        font-size: 3rem;
        color: grey;
        background-color: white;
        text-align: center;
        margin-top: 2%;
        padding: 2%;
    }
    .adfye,
    .gracias {
        font-size: 2rem;
        font-weight: 700;
    }
    .quienesSomos__p {
        font-size: 1.5rem;
        color: grey;
        background-color: white;
        text-align: center;
        padding: 2%;
        width: 80%;
    }
    .quienesSomos__video {
        width: 80%;
        height: 500px;
        margin-bottom: 5%;
    }
}

@media only screen and (min-width: 1024px) {
    .quienesSomos__p {
        font-size: 2rem;
        line-height: 150%;
        font-weight: 500;
    }
    .quienesSomos__h1 {
        font-size: 4rem;
    }
}